
body {
    background-image: url(back1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
    background-attachment:fixed; 
    margin: 0;
    font-family: "Inter"; 
}
.header {
    width: 100%;
    height: 130px;
}
.nav {
    text-align: center; 
    font-weight: 800; 
    font-size: 70px; 
    color: rgb(233, 15, 15); 
}
.list {
    margin-top: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: rgb(6, 4, 112);
    text-shadow: 
    0 0 15px ;
    animation: listAnim 0s 1; 
}
li {
    text-align: center;
    margin-top: 20px; 
    list-style-type: none;  
}
a {
    color: black; 
    transition: 0.s; 
    text-decoration: none; 
}
a:hover {
    color: rgb(12, 16, 241); 
    text-decoration: none; 
}